# https://github.com/github/gitignore/blob/main/Haskell.gitignore
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Custom
/.direnv/

.dir-locals.el
.envrc
.vscode/

unversioned

*.dll
*.log
*.so

autom4te.cache/
configure~
config.log
config.status

# When running `autoconf` and `./configure` in the shell, these files are
# created. They are also directly created in the Cabal build pipeline
# (`dist-newstyle`), and should not be committed.
libclang-bindings/autogen/clang_config.h
libclang-bindings/autogen/libclang_version.h
libclang-bindings/autogen/Version_libclang_bindings.hs
libclang-bindings/libclang-bindings.buildinfo
